<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{../css/style.css}"/>
    <script src="/js/js.js" th:inline="javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>index</title>
</head>
<body>
<header><h1>Welcome to event cośtam</h1></header>
<article>
    <h1 th:text="${event.getName()}">Dupa</h1>
    <p th:text="${event.getDescription().getBasicInfo()}">Description</p>
    <br>
    <p th:text="${event.getDescription().getAdditionalInfo()}">additional</p>
    <a th:href="@{'back'}">Go back</a>
</article>
<footer>2017 Landryn company</footer>
</body>
</html>