<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/js.js" th:inline="javascript"></script>
    <title>index</title>
</head>
<body>
<header><h1>Welcome to event cośtam</h1></header>
<article>


    <form th:action="@{add_event}" method="post">
        <input class="form-control" name="event_name" placeholder="Name" type="text" value=""/>


        <input class="form-control" type="date" name="event_startdate" placeholder="Date when event's start">
        <input class="form-control" type="date" name="event_enddate" placeholder="Date when event's end">
        <input class="form-control" name="event_description" placeholder="Description" type="text" value=""/>
        <input class="form-control" name="event_additional_info" placeholder="Description" type="text" value=""/>

        <input id="btn_login" name="submit" type="submit" class="btn btn-default" value="Add Event"/>
    </form>
</article>
<footer>2017 Landryn company</footer>
</body>
</html>